body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  #wd-kanbas .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.list-group.wd > .list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}

.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}

.list-group-item {
  --bs-list-group-border-color: gray;
}

.bg-red {
  --bs-b-color: #ff7070;
}

.wd-lesson {
  border-left: 3px solid green !important;
}

.custom-active {
  color: black;
  font-weight: bold;
  border-left: 3px solid black !important;
}

.custom-inactive {
  color: red;
  font-weight: normal;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%; /* Adjust width as needed */
}

select {
  width: 100%;
  appearance: none; /* Hides the default dropdown arrow */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  padding-right: 30px; /* Adjust to provide space for the custom arrow */
}

.select-wrapper::after {
  content: '▼'; /* You can replace this with an icon or image */
  font-size: 12px;
  color: #333;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Ensures the arrow isn't clickable */
}